<%- include("partials/header") %>

<div class="container">
	<div class="row mt-4">
		<div class="col-6 show_image-container">
			<img src="<%= movie.image %>">
		</div>
		<div class="col-6 show_details-container">
			<h1><%= movie.title %></h1>
			<p><%= movie.description %></p>
			<table class="table">
			  <tbody>
				<tr>
				  <th scope="row">Director</th>
				  <td><%= movie.director %></td>
				</tr>
				<tr>
				  <th scope="row">Producer</th>
				  <td><%= movie.producer %></td>
				</tr>
				<tr>
				  <th scope="row">Date</th>
				  <td><%= movie.date %></td>
				</tr>
				<tr>
				  <th scope="row">Genre</th>
				  <td><%= movie.genre %></td>
				</tr>
			  </tbody>
			</table>
			<% if (user && user.username === movie.owner.username) { %>
			<a href="/movies/<%=movie._id%>/edit">
				<button class ="btn btn-outline-info btn-lg btn-block mb-2">Edit</button>
			</a>
			<form action="/movies/<%=movie._id %>?_method=DELETE" method="POST">
				<button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
			</form>
			<% } %>
		</div>
	</div>
	<div class="row show_comment-header mt-3">
		COMMENT HEADER
	</div>
	<a href="/movies/<%= movie._id %>/comments/new">
		<button class="btn btn-success btn-lg mt-2 mb-4">Add Comment</button>
	</a>

	<% comments.forEach((comment => { %>
		<div class="row show_comment-container py-2 border">
			<div class="col-2 border-right my-auto">
				<%= comment.user.username %>
			</div>
			<div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center">
				<% if(user && user.username === comment.user.username) { %>
				<a class="btn btn-sm btn-success w-75 p-0 my-1" href="/movies/<%= movie._id%>/comments/<%=comment._id%>/edit">
					Edit
				</a>
				<form class="w-75 my-1" action="/movies/<%= movie._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger w-100 p-0">
						Delete
					</button>
				</form>
				<% } %>
			</div>
			<div class="col-8 my-auto">
				<%=	comment.text %>
			</div>
		</div>
	<%	})) %>
	<div class="py-5"></div>

<%- include("partials/footer") %>